@model List<DataModel.Master.workingCalendar>


<input type="hidden" id="hdnPageno" value="@ViewBag.PageNo" />
<div class="table-width col-sm-12 inner-content-div clsTableHeaderFix" id="tblHelp">
    <table id="tblHelpForPO" class="table table-striped table-bordered table-condensed" style="font-size:13px;margin:0px 0 10px;">
        <thead>
            <tr>
                <th>Actions</th>
                <th>From Date </th>
                <th>To Date</th>
                <th>Work Day's</th>
            </tr>
        </thead>
        @{
            int j = 0;
            if (Model == null || Model.Count() == 0)
            {
                <tr class="red">
                    <td class="red" colspan="20">No data to Display</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr id="tr_@j">
                        <td>
                            <input type="hidden" id="MID_@j" value="@item.MID" />
                            <button class="btn btn-minier btn-white btn-info btn-bold" title="Edit" onclick="loadEdit('@item.MID');">
                                <i class="ace-icon fa fa-pencil bigger-80"></i>
                            </button>
                            <button class="btn btn-minier btn-white btn-danger btn-bold" title="Delete" onclick="DeleteWorkingDays('@item.MID','@item.FromDate.ToString("dd-MMM-yyyy")','@item.ToDate.ToString("dd-MMM-yyyy")');">
                                <i class="ace-icon fa fa-trash-o bigger-80"></i>
                            </button>
                        </td>
                        <td>
                            <span>@item.FromDate.ToString("dd-MMM-yyyy")</span>
                        </td>
                        <td>
                            <span>@item.ToDate.ToString("dd-MMM-yyyy")</span>
                        </td>
                        <td>
                            <span>@item.WorkingDays</span>
                        </td>

                    </tr>
                    j++;
                }
            }
        }
    </table>

</div>
<div class="pull-right" style="height:50px;padding-top:0px;">
    <ul id="pagination" class="pagination-sm"></ul>
    <div id="Pageing"></div>
</div>

<script type="text/javascript">

    (function ($) {
        $('#pagination').twbsPagination({
            startPage: parseInt(@ViewBag.PageNo),
            totalPages: parseInt(@ViewBag.totalpages) == 0 ? 1 : parseInt(@ViewBag.totalpages),
            visiblePages: parseInt(10) == 0 ? 1 : parseInt(10),
            onPageClick: function (event, page) {
                loadLookup(page);
            }
        });
    }(jQuery));


    function loadEdit(mid) {
        $('#Divwaitingtr').removeClass('hide');
        var url = 'WorkdayCalendar/EditWorkCalendar';
        var data = { mid: mid }
        var title = 'Edit Working Days';

        $('#ActivityHeader').text(title);
        $('#Addpopup_box').modal('show');

        $.get("/" + url,data, function (data) {
            $('#LoadForm').html('');
            $('#LoadForm').html(data);
            $('#Divwaitingtr').addClass('hide');
        });
    }


    function DeleteWorkingDays(MID,fromDate,toDate) {
        bootbox.confirm({
            title: 'Confirm delete',
            message: "Are you sure, you want to delete working day's from " + fromDate + " to " + toDate + " date ?",
            buttons: {
                'confirm': {
                    label: 'Confirm',
                    className: 'btn-sm btn-info'
                },

                'cancel': {
                    label: 'Cancel',
                    className: 'btn-sm btn-danger'
                },
            },
            callback: function (result) {
                if (result == true) {
                    $.get('/WorkdayCalendar/DeleteWorkCalendar', { MID: MID }, function (res) {

                        var errid = res.ResultId;
                        var errmsg = res.Message;
                        var TITLE = res.Title;
                        var TYPE = res.Type;
                        if (errid > 0) {
                            $.c9Message(errmsg, TITLE, TYPE);
                            loadLookup(1);
                        } else {
                            $.c9Message(errmsg, TITLE, TYPE);
                        }

                    });
                }
            }
        });
    }
</script>
